body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-image: linear-gradient(to top, rgb(100, 32, 32), rgb(190, 129, 129));
    color: #333;
  }
  h1 {
    text-align: center;
    color: #800000;
  }
  h2 {
    color: #800000;
    margin-top: 30px;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  li {
    margin-bottom: 10px;
  }

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #aaa;
}


table{
  background-color: #aaa;
}

  

  